<%- include("header"); -%>


  <div class="content">
        <div class="container-fluid">
 

















 <div class="col-lg-6 col-md-6">
              <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                     <h4> <span class="nav-tabs-title">Capital</span></h4>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                      <table class="table">
                        <tbody>
                        <th>Last Month Capital</th>
                        <td>0</td>
                          
                        </tbody>
                      </table>
                      <form action="/capital" method="post">
                          <div class="row">
                          <div class="col-md-6">
                                    <div class="form-group">
                                    <label>Date </label>
                                    <input type="month" class="form-control" name="date" >
                                     </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                     <label>Capital Amount</label>
                                          <input type="text" name="capitala" class="form-control">
                                     </div>
                                </div>
                                 
                            <div class="col-md-4">
                                  <div class="form-group">
                                        <button type="submit" class="btn btn-primary pull-right">Save</button>
                                  </div>
                              </div>
                    </div>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>














</div>
</div>

   <%- include("footer"); -%>